<h1 mat-dialog-title>Favorite Animal</h1>
<div mat-dialog-content>

  <mat-form-field appearance="fill">
    <mat-label>Fill form field</mat-label>
    <input matInput placeholder="Placeholder" value='{{data["event"].name}}' #eventName>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Fill form field</mat-label>
    <textarea matInput placeholder="Placeholder" value='{{data["event"].description}}' #eventName></textarea>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  
</div>